html {
	color: #232E33;
}
header {
	border-bottom: 5px solid #232E33;
	background-color: #5DC2F4;
	width: 100%;
	display: block;
	padding: 15px;
}
header h1 {
	padding-left: 10%;
	padding-bottom: none;
	margin: none;
	display: inline;
}
body {
	margin: 0;
	height: 100%;
	font-family: 'Calibri';
}
#main_section {
	margin: 0;
	padding-left: 10%;
	padding-top: 10px;
}
input[type='search'] {
	width: 400px;
}
.product a {
	text-decoration: none;
	color: #5DC2F4;
}
.product a:hover {
	color: white;
}
.product{
	background-color: #232E33;
	color: white;
	width:90%;
	padding-left: 8px;
}
h3{
	color: lightgrey;
	margin: 0;
	font-style: italic;

}
#product_price{
	font-weight: bold;
}
.stock_level{
	font-style: italic;
	color: lightgrey;
}
.price{
	font-weight: bold;
	font-size: 1.1em;
}