.product a {
	text-decoration: none;
	color: #5DC2F4;
}
.product a:hover {
	color: white;
}
.product{
	background-color: #232E33;
	color: white;
	width:90%;
	padding-left: 8px;
}
#product_price{
	font-weight: bold;
}
.stock_level{
	font-style: italic;
	color: lightgrey;
}
.price{
	font-weight: bold;
	font-size: 1.1em;
}
h2.product_name{
	margin: 0;
	display: inline;
	font-size: 2.5em;
}
.product_catname{
	margin: 0;
	display: inline;
}
#product_price{
	margin-top: 3em;
}
.product_catname a{
	color: white;
}
.product_catname a:hover{
	color: #5DC2F4;
}