html{
	color: #232E33;
}
textarea{
	border-style: inset;
	border-width: 2px;
	resize: none;
	font-size: 0.9em;
	width: 500px;
	height: 80px;
}
input[type='text']{
	width: 500px;
}
header{
	border-bottom: 5px solid #232E33;
	background-color: #5DC2F4;
	width: 100%;
	display: block;
	padding: 15px;
}
header h1{
	padding-left: 176px;
	padding-bottom: none;
	margin: none;
	display: inline;
}
div#phpstuff p{
	font-weight: bold;
}
body{
	margin: 0;
	height: 100%;
	font-family: 'Calibri';
}
h1.big_button-caption{
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}
a.button{
	margin: 0;
}
a.current{
	color: #FFFFFF;
}
.main_section{
	margin: 0;
	padding-left: 176px;
	padding-top: 10px;
	padding-bottom: 38px;
	height: 100%;
	width: 850px;
	z-index: 2;
}
img{
	margin: 0;
}
img.logo-large{
	width: 64px;
	height: 64px;
	padding-left: 14px;
}
img.icon-medium{
	width: 48px;
	height: 48px;
}
img.icon-big{
	width: 64px;
	height: 64px;
}
}img.icon-biggest{
	width: 128px;
	height: 128px;
}
.big_button{
	display: inline-block;
	width: 200px;
	height: 200px;
	min-height: 200px;
	padding: 10px;
	padding-bottom: 30px;
	margin: 8px;
	background-color: #FFFFFF;
	text-align: center;
}
.big_button.option{
	background-color: #5DC2F4;
	opacity: 0.9;
	border: none;
	border: solid 10px #232E33;
	cursor: pointer;
}
.big_button.option:hover{
	opacity: 1;
}
.function_group{
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 850px;
}
.empty{
	display: none;
}
