html{
	color: #232E33;
}
header{
	border-bottom: 5px solid #232E33;
	background-color: #5DC2F4;
	width: 100%;
	display: block;
	padding-left: 10%;
	padding-top: 1em;
}
header h1{
	padding-bottom: none;
	margin: none;
	display: inline;
}
header a{
	text-decoration: none;
	color: #232E33;
}
header a:hover{
	color: white;
}
body{
	margin: 0;
	height: 100%;
	font-family: 'Calibri';
}
#main_section{
	margin: 0;
	padding-left: 10%;
	padding-top: 10px;
	padding-bottom: 15px;
}
h2{
	font-size: 2em;
}
h3{
	color: lightgrey;
	margin: 0;
	font-style: italic;

}
input[type='search'] {
	width: 400px;
}
.empty{
	display: none;
}
.extra_details{
	background-color: lightgrey;
}
footer{
	background-color: #232E33;
	border-top: 3px solid #5DC2F4;
	color: #5DC2F4;
	height: 50px;
	padding-left: 10%;
	padding-top: 0.2em;
}
#product_area a{
	text-decoration: none;
	font-weight: bold;
	color: #232E33;
}
#product_area a:hover{
	color: #5DC2F4;
}
#basket {
	background-color: #232E33;
	color: #5DC2F4;
	font-weight: bold;
	width: 14em;
	text-align: center;
}
#basket:hover {
	color: white;
}
footer a {
	font-size: 1.2em;
	color: #5DC2F4;
	font-weight: bold;
	text-decoration: none;
}
footer a:hover {
	color: white;
}
#page_links a {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #5DC2F4;
	background-color: #232E33;
}
#current_page_marker a {
	background-color: #232E33;
	color: orangered;
}